@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.content{
    display: flex;
    flex-direction: column;
}

.card{
    top: 30px;
    margin-top: 20px;
    width: 55%;
    margin: auto;
    position: relative;
}

.card img{
    height:250px;
    width: 400px;
    border-radius: 20px;
    outline: 1px solid rgb(213, 198, 198);
}

.card span{
    position: absolute;
    left: 0;
    bottom: 4px;
    background-color: white;
    width: 36%;
    color: rgb(77, 76, 76);
    padding: 10px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.zomato-app{
    display: flex;
    margin-top: 60px;
    height: 800px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 181, 143);
    background-color: rgb(255, 251, 247);
    font-family: 'Roboto', sans-serif;
}

.desc{
    /* border: 2px solid; */
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-left: 36px;
}

.desc h1{
    font-size: 45px;
}

#desc-app{
    margin: 15px 0;
    width: 100%;
    color: rgb(116, 116, 116);
    line-height: 30px;
}

.form {
    font-size: 19px;
}

.form label{
    margin-left: 5px;
}

#contactPhone{
    margin-left: 30px;
}

.share-link{
    display: flex;
    margin-top: 20px;
}

.share-link input{
    font-size: 19px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    width: 240px;
    opacity: 0.8;
}

.share-link button{
    background-color: rgb(224, 82, 82);
    color: white;
    margin-left: 15px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

.desc span{
    margin-top: 20px;
}

.share-btn{
    margin-top: 20px;
    display: flex;
}

.google-play{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.google-text{
    display: flex;
    flex-direction: column;
}

.app-store{
    cursor: pointer;
    margin-left: 100px;
}