*{
    margin: 0;
    padding: 0;
}

.nav-top{
    border: 2px solid red;
    background: url("images/bg.jpg");
    color: white;
}


nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

nav ul li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

nav ul li img{
    height: 20px;
    filter: invert(100%);
}

.nav-link{
    font-size: 20px;
    margin: 0 10px;
}

.center-top h1{
    width: fit-content;
    margin: auto;
    font-size: 95px;
    font-family: Okra, Helvetica, sans-serif;;
}